@charset "UTF-8";

#body-wraper {
  padding-bottom: 2rem;
}
.bgcolor-gray {
  background-color: gray;
}
.bgcolor-red {
  background-color: #d7003a;
}
.bgcolor-orange {
  background-color: #eb6238;
}
.bgcolor-yellow {
  background-color: #f7c114;
}
.bgcolor-green {
  background-color: #028760;
}
.bgcolor-blue {
  background-color: #2ca9e1;
}
.bgcolor-indigo {
  background-color: #165e83;
}
.bgcolor-purple {
  background-color: #b44c97;
}
#bg-sec0 {
  background-image: url('../img/bg-default.jpg');
}
#bg-sec1 {
  background-image: url('../img/bg-mission.jpg');
}
#bg-sec2 {
  background-image: url('../img/bg-works.jpg');
}
#bg-sec3 {
  background-image: url('../img/bg-rolls.jpg');
}
#bg-sec4 {
  background-image: url('../img/bg-members.jpg');
}
#bg-sec5 {
  background-image: url('../img/bg-news.jpg');
}
#bg-sec6 {
  background-image: url('../img/bg-default.jpg');
}
#bg-sec0, #bg-sec1, #bg-sec2, #bg-sec3, #bg-sec4, #bg-sec5, #bg-sec6 {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}


.section-title {
  padding: 1rem 0 2rem;
}

 
/* --------------------------------
 * Header
 * -------------------------------- */
header {
  padding: 0.5rem 0 15rem;
}

.title-logo {
  width: 70%;
}
.title {
  display: inline-block;
  margin: 50px 0 0;
  position: relative;
}
.title-c {
  color: #d7003a;/*紅*/
  animation-duration: 2s;
  animation-delay: 0.3s;
}
.title-co {
  color: #eb6238;/*照柿*/
  animation-duration: 2s;
  animation-delay: 0.5s;

}
.title-col {
  color: #f7c114;/*藤黄*/
  animation-duration: 2s;
  animation-delay: 0.7s;
}
.title-colo {
  color: #028760;/*常盤緑*/
  animation-duration: 2s;
  animation-delay: 0.9s;
}
.title-coloc {
  color: #2ca9e1;/*天色*/
  animation-duration: 2s;
  animation-delay: 1.1s;
}
.title-colocr {
  color: #165e83;/*藍色*/
  animation-duration: 2s;
  animation-delay: 1.3s;
}
.title-colocre {
  color: #b44c97;/*紅紫*/
  animation-duration: 2s;
  animation-delay: 1.5s;
}
.title::before,
.title::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #999;
}
.sub-title {
  /*margin: 0 0 50px;*/
}
.sub-title-animation {
  animation-duration: 2s;
  animation-delay: 2s;
}
 
/* --------------------------------
 * Mission
 * -------------------------------- */
#mission {
  padding: 2rem 0 2rem;
}
.mission-title {
  padding: 1rem 0;
}
.mission-text {
  background-color: rgba(255, 255, 255, 0.5);
  display: inline-block;
  padding: 1.5rem;
}


/* --------------------------------
 * Works
 * -------------------------------- */
#works {
  padding: 5rem 0 2rem;
}
.work-title {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 1.2rem 1rem;
}
.work-text {
  background-color: rgba(255, 255, 255, 0.6);
  margin: 0.5rem;
  padding: 1.5rem;
}
.work-notyet {
  filter: brightness(50%);
}
.work-title-notyet {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 1.2rem 1rem;
}
.work-text-notyet {
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0.5rem;
  padding: 1.5rem;
}


/* --------------------------------
 * Rolls
 * -------------------------------- */
#rolls {
  padding: 100px 20px;
}

/* --------------------------------
 * Members
 * -------------------------------- */
#members {
  padding: 100px 20px;
}
.nickname-label {
  position: relative;
}
.nickname-label::after {
  bottom: 10px;
  box-shadow: 0 10px 15px rgba(0,0,0,.5);
  content: '';
  height: 50%;
  position: absolute;
  width: 50%;
  z-index: -1;
}
.nickname-label::after {
  right: 10px;
  transform: rotate(4deg);
  -webkit-transform: rotate(4deg);
}


/* --------------------------------
 * News
 * -------------------------------- */
#news {
  padding: 100px 20px;
}

/* --------------------------------
 * Contact
 * -------------------------------- */
#contact {
  background: url('../img/bg-contact.jpg') fixed;
  padding: 5rem 0;
}
.contact-title {
  color: #d3d3d3;
}
.contact-text {
  padding: 0.5rem;
  color: #d3d3d3;
}

/* --------------------------------
 * footer
 * -------------------------------- */
footer {
  padding: 20px 0;
  /*font-size: 1.3rem;*/
  background: url('../img/bg-default.jpg')
}

/* --------------------------------
 * Back to top
 * -------------------------------- */
#back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 1.0rem;
    right: 1.5rem;
    display:none;
}